<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .eee {
            background-color: red;
        }
        .ddd {
            background-color: #80bdff;
        }
    </style>
</head>
<body>

<ul th:each="book : ${books}">
    <li th:class="${bookStat.even ? 'eee' : 'ddd'}">
        我的书籍: [(${book.name})], 它的价格 [[${book.price}]].
    </li>
</ul>


<hr>
<ul th:each="book : ${books}">
   <li th:class="${bookStat.even ? 'eee' : 'ddd'}"
       th:text="${bookStat.index+1} + '/' + ${bookStat.size} + '.   ' + ${book.name} + ' : ' + ${book.price}">书籍</li>
</ul>

<p th:each="book: ${books}" th:text="${book.name}">所有书名</p>

</body>
</html>
